
@import "lesshat.less";

/* ==========================================================================
   Font-Face
   ========================================================================== */

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('../fontes/brandon_reg-webfont.eot');
    src: url('../fontes/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/brandon_reg-webfont.woff2') format('woff2'),
         url('../fontes/brandon_reg-webfont.woff') format('woff'),
         url('../fontes/brandon_reg-webfont.ttf') format('truetype'),
         url('../fontes/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('../fontes/brandon_bld-webfont.eot');
    src: url('../fontes/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/brandon_bld-webfont.woff2') format('woff2'),
         url('../fontes/brandon_bld-webfont.woff') format('woff'),
         url('../fontes/brandon_bld-webfont.ttf') format('truetype'),
         url('../fontes/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
  font-family: 'Brandon Grotesque Black';
  src: url('../fontes/brandon_blk-webfont.eot');
  src: url('../fontes/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fontes/brandon_blk-webfont.woff2') format('woff2'),
       url('../fontes/brandon_blk-webfont.woff') format('woff'),
       url('../fontes/brandon_blk-webfont.ttf') format('truetype'),
       url('../fontes/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ==========================================================================
   Variables
   ========================================================================== */

@background-color: #fff;
@text-gray: #94938c;
@text-color: #686161;

/* ==========================================================================
   Base styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body { height:100%; }

body { background: #f6f4e8; font-family: "Georgia", "serif"; font-size: 16px;  }

h1, h2, h3 { font-family: "Brandon Grotesque Black"; font-weight: normal; }


.icon { margin: 0 auto; width: 30px; display: block; }

.modulo { width:80px; height:81px; margin:0 auto 0.8em auto;
  &.title1 { background:url(../img/modulo-sprite1.png); }
  &.title2 { background:url(../img/modulo-sprite2.png); width: 60px; height: 60px; }
  &.title3 { background:url(../img/modulo-sprite3.png); }
  &.title4 { background:url(../img/modulo-sprite4.png); width: 60px; height: 60px; }
}

.wrap { width: 630px; margin: 0 auto 110px auto; }


.title { }



/* ==========================================================================
   Styles Parts
   ========================================================================== */


//#intro, #tagline, #description { position: absolute; width: 100%; }

#intro {
  width: 100%; height: 100%; background: url(../img/home-bg.jpg) center center no-repeat; background-size: cover;

  h1 { position: absolute; width: 380px; height: 250px;  background: url(../img/logo.png) no-repeat; text-indent: -9999px; top: 2em;
    left: 2em; }

  .watch { position: absolute; left: 50%; margin-left: -167px; bottom: 140px;  font-size: 0.8em; font-weight: normal; font-family: "Brandon Grotesque Bold";
  padding: 20px 60px; border: 2px solid #fff; text-transform: uppercase; color: #fff; text-decoration: none;
  overflow: hidden; .transition(all 0.3s); 

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%;
      background: #fff;
      opacity: 1;
      .transform( translate(-50%, -50%), rotate(45deg) );
      .transition(all 0.3s);
    }

    &:hover,
    &:active {
      color: #242424;
    }

    &:hover:after {
      height: 500%;
      opacity: 1;
    }

  }

  .arrow { width: 4.2em; position: absolute; bottom: 50px; left: 50%; margin-left: -2.1em; cursor: pointer;  }

}


#tagline {
    width: 100%; padding: 4em 0; background: #f6f4e8 url(../img/tagline-bg.jpg) center 23px no-repeat; background-size: cover;

    h2 { text-align: center; color: @text-gray; font-size: 4.3em; margin: 0 auto; text-transform: uppercase;
      line-height: 1.1em;  }

}


#description { width: 100%; background-color: #f6f4e8;

  h3 { font-size: 2em; text-align: center; text-transform: uppercase; color: @text-color; margin: 10px 0 30px 0; }

  .image { background-color: #e1ded3; padding: 4em 0 0 0;

  .ilustra { display: block; margin: 0 auto 40px auto;  width: 100%;  }

  p { font-size: 1.35em; width: 610px; text-align: center; margin: 20px auto; color: @text-color; font-style: italic; }

  }

}

.photos { margin-bottom: 90px; width: 1200px; margin: 0 auto; overflow: hidden;

    .holder { overflow: hidden; margin-bottom: 30px; display: block;
      &.larger { width: 85%; }
      &.medium { width: 53%; }
      &.small { width: 28%; margin-left: 30px; margin-right: 30px; }

      &.left { float: left; }
      &.right{ float: right; }

      &.bottom { margin-top: 169px; }

    }

}



.curators { background: url(../img/curators-bg.jpg) center 23px no-repeat; padding: 6em 0 0 0;

    p { text-align: center; font-family: "Tahoma", "Gerogia", "serif"; font-size: 0.9em; line-height: 1.4em; color: @text-color; }


    big { font-size: 1.4em; margin: 20px auto; color: @text-color; font-style: italic; text-align: center; display: block; }
}


.app {

    .container { overflow: hidden; margin: 2em auto; width:1070px; }


    .map, .pattern { width: 520px; height: 520px; background: #fbfbf6; float: left; position: relative; }
    .map { margin-right: 30px; }

    .pattern { box-shadow: inset 0 0 0 3px #656563; overflow: hidden; }


    #coordinates { position: absolute; top: 80%; margin-top: -140px; text-align: center; font-size: 3.5em; left: 50%; margin-left: -136px; height: 0; font-family: "Brandon Grotesque Bold"; line-height: 1.2em; color: #696969; }
    #map-marker { position: absolute; top: 45%; left: 48%; width: 15px; height: 15px; background: #696969; .border-radius(50%); }
    #app-map-input { display: none; font-family: "Brandon Grotesque Bold"; text-transform: uppercase; padding: 12px 10px; background: #fbfbf6 url(../img/icon-mark.png) right 8px no-repeat; border: 2px solid #696969; width: 95%; font-size: 1.4em; margin: 20px 10px; 
    color: #696969; 

      &:focus { outline: none; border-color: #333333;  }

    }

    #map-marker,
    #coordinates {
        pointer-events: none;
        -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;
    }

}


.technology { width: 910px; margin: 170px auto 80px auto; overflow: hidden;

  .item { width: 28%; float: left; margin-right: 8%; text-align: center;
          margin-bottom: 50px;
    &.nomargin { margin-right: 0px; }
    &.force-center { margin-left: 170px; }

    h4 { font-size: 1.2em; color: @text-color; font-style: italic; text-align: center; font-weight: normal; margin: 0 0 15px 0; }
    strong { color: #8b8a86; font-family: "Brandon Grotesque Bold"; text-transform: uppercase; margin-top: 20px; display: block; }

    ul { margin: 0; padding: 0; color: #8b8a86; font-family: "Tahoma", "Gerogia", "serif"; font-size: 0.86em; list-style: none;
      li  { }
    }



  }

}

.press { width: 910px; margin: 80px auto 150px auto;

  h3 { font-size: 1.2em !important; }


  .depoiment { display: block; overflow: hidden; padding-top: 6em;

    .quote { width: 48%; position: relative;
      img { width: 125px; float: left; }
      blockquote { font-size: 1.08em; width: 75%; float: left; margin: 20px 0 0 -25px; font-style: italic; color: #696969; line-height: 1.35em; }
      .author { display: block; clear: both; font-family: "Tahoma"; font-style: normal; font-size: 0.95em; padding-top: 10px; color: #8b8a86;
          strong { text-transform: uppercase; font-family: "Brandon Grotesque Bold";  }
      }

      &:first-child { float: left;}
      &:last-child { float: right; }
    }

  }

  .newspapers {  list-style: none; width: 728px; margin: 0 auto; overflow: hidden; padding: 0;

    li { float: left; width: 190px; margin-right: 75px; height: 90px;

        a { background-image: url(../img/img-feature.jpg); background-repeat: no-repeat; display: block;  width: 190px; height: 90px;
          &.bamboo { background-position: 2px 0 }
          &.folha { background-position: -280px 0 ; }
          &.eyedesign { background-position: -558px 0 ; }
          &.timeout { background-position: 2px -130px; }
          &.mistura { background-position: -281px -130px; }
          &.brasileiros { background-position: -562px -130px; }

        }

        &:nth-child(3n) { margin-right: 0; }
    }

  }

}

.credits {

  .logos { margin: 0; padding: 4em 0; background: #f6f6f6; overflow: hidden;

      ul { width: 600px; margin: 0 auto; padding: 0; list-style: none; }

      li { float: left; width: 215px; margin-right: 170px; font-family: "Brandon Grotesque Bold"; font-size: 1.2em; text-align: center; color:  @text-color; text-transform: uppercase;

        img { margin-top: 25px; }

        &:last-child { margin: 0; }
      }
  }


  .peoples { width: 1070px; margin: 0 auto;

    .teamdescription { font-size: 1.1em; color: @text-color; font-style: italic; text-align: center; font-weight: normal; width: 600px; margin: 65px auto; display: block;

      strong { font-style: normal; }

    }


    ul { margin: 0 0 30px 0; padding: 0; list-style: none; overflow: hidden; clear: both; display: block; }

    li { text-align: center; width: 285px; float: left; margin-right: 105px;

      h4 { font-family: "Brandon Grotesque Bold"; font-size: 1.9em; text-transform: uppercase; color: @text-color; margin: -20px 0 0 0; }

      p { font-size: 0.9em; color: @text-color; font-family: "Tahoma", "Gerogia", "serif";  }

      &:nth-child(3n) { margin-right: 0; }

    }



  }
}



/* ==========================================================================
   ANIMATION INT
   ========================================================================== */

.fade-in {
 -webkit-animation: fadein 1.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.3s; /* Firefox < 16 */
        -ms-animation: fadein 1.3s; /* Internet Explorer */
         -o-animation: fadein 1.3s; /* Opera < 11.3.1 */
            animation: fadein 1.3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}





/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

@media (max-width: 1024px) {

  #intro {
    h1 { width: 250px; background-size: 90%; }
    .watch { margin-left: -152px; }
  }

  body { font-size: 14px; }
  #tagline h2 { font-size: 2.7em; }

   .app { padding-bottom: 4em;
      .container { width: 95%; margin: 0 auto;  }
      .map, .pattern { width: 100%; margin-bottom: 20px; height: 450px; }

    }

  .photos { width: 95%; margin: 0 auto;

    .holder {
      &.larger, &.medium, &.small  { width: 100%; }
      &.bottom, &.left, &.right { margin: 0; float: none; }
    }

  }

  .credits {

    .peoples  { width: 95%; margin: 0 auto; overflow: hidden;  

      li { width: 30%; margin-right: 50px;}

    }


  }


}

@media (max-width: 768px) {

  #description .image p { width: 85%; margin: 0 auto; }

  .technology, .wrap, .press { width: 90%; margin: 0 auto;

      img { width: 100% }

  }

  .app { display: none; }

  .technology {

    .item {
      &.force-center { margin-left: 0; }
    }

  }

  .press { 

    img.icon { width: 30px !important;  }

    .newspapers { width: 90%; margin: 0 auto;

      li { display: block; float: none; margin:0 auto 20px auto !important;}

    }

    .depoiment { width: 90%; margin: 2em auto 6em auto; padding-top: 0;
      .quote { width: 100%; position: relative; margin-top:30px;
        img { width: 40%;  }
        blockquote { width: 60%; margin-top: 5px;  }
        .author { text-align: right; 
          strong { display: block; }
        }
      }
    }

  }

  .credits {

     .logos {
      ul { width: 90%; margin: 0 auto; }
      li { width: 49%; margin-right: 2%;
        &:last-child { margin-right: 0; }

      }

     }

    .peoples  { width: 90%; margin: 0 auto;

      .teamdescription { width: 95%; }

      ul { margin-bottom: 0; }

      li { width: 100%; display: block; float: none; margin-bottom: 40px;}

    }
  }




}

@media (max-width: 320px) {

  #tagline h2 { width: 90%; font-size: 2.4em; }


  #description .image p { font-size: 1.2em; }

  .technology .item { display: block; float: none; width: 100%; 

    img {  width: 65%; }
  }

  .credits  .logos li { float: none; display: block; width: 100%; margin-right: 0; margin-bottom: 40px;

    img { display: block; margin: 20px auto; }
   }


  .curators, .app, .technology, .press  { margin-bottom: 7em; }


}

